@import '@cryptohub/coco/dist/css/coco.min.css';

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

main {
	background-image: url(tile.svg);
	background-repeat: repeat;
}

.navbar.is-primary {
	background-color: hsl(97.4, 36.5%, 50%);
}

.button.is-primary {
	background-color: hsl(97.4, 36.5%, 50%);
}

.navbar-menu {
	background-color: hsl(97.4, 36.5%, 50%);
}

.box {
	margin-top: 2em;
	box-shadow: 0 8px 16px hsla(97.4, 36.5%, 50%, 0.3);
}
.box:last-child {
	margin-bottom: 3em;
}

.input.is-rounded {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.radio:hover, input:hover[type="radio"] {
	color: hsl(97.4, 36.5%, 50%);
}

nav label.radio {
	font-weight: bold;
	color: var(--link-light);
}
nav label.radio:hover {
	color: var(--link-dark);
}

nav .switch > label {
	vertical-align: middle;
}

nav .switch > label.toggle {
	margin-left: 0.1em;
	margin-right: 0.3em;
}

.toggle input[type="checkbox"]:checked + .slider {
  background-color: var(--primary-dark);
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
  background-color: var(--primary-dark);
}

.footer {
  padding: 3rem 1.5rem;
}
